* {
  margin: 0;
}
.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.separator {
  border-bottom: 0.5px solid #7879f1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart {
  background-color: #5d5fef;
  color: #ffffff;
  padding: 24px;
  max-width: 400px;
  font-family: sans-serif;
}

.cart_title {
  font-size: 24px;
}

.product {
  display: grid;
  grid-template-columns: 2fr 4fr 4fr;
}

.product_img {
  border-radius: 12px;
  margin: 10px;
  height: 80px;
  width: 80px;
}

.product_data {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: flex-start;
  align-items: center;
}
.product_data_right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: flex-end;
  align-items: center;
}
.product_data_name {
  font-size: 18px;
}

.product_data_price {
  font-size: 18px;
}

.product_data_amount {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
.product_delete_btn {
  all: unset;
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-size: 8px;
  height: 28px;
  align-items: center;
  grid-gap: 3.75px;
}
.product_delete_btn:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.692);
  transition: 300ms;
}

.product_data_amount_btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  font-size: 18px;
  text-align: center;
}

.product_data_amount_btns button {
  all: unset;
  color: #5d5fef;
  background-color: #ffffff;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  line-height: 14px;
  font-weight: 700;
}
.product_data_amount_btns button:hover {
  cursor: pointer;
}

.product_bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 10px;
}

.product_btn_pagar {
  all: unset;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  color: #5d5fef;
  font-size: 18px;
  border-radius: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top: 18px;
}

.product_clean_btn {
  all: unset;
  justify-self: flex-end;
  float: right;
  margin-top: 10px;
  font-size: 12px;
}
.product_clean_btn:hover{
  cursor: pointer;
}
/* spinner */
.spinner-layout {
  height: 350px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-left-color: #ffffff;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
